<!DOCTYPE html>
<html>
  <head>
    <title>Create a Soundboard</title>
    <link rel="stylesheet" type="text/css" href="/css/edit.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Create a Soundboard</h1>
    <form action="/soundboards" method="post" enctype="multipart/form-data">
      <label for="title">Title:</label><br />
      <input type="text" id="title" name="title" /><br />

      <label for="description">Description:</label><br />
      <input type="text" id="description" name="description" /><br />

      <label for="image">Image:</label><br />
      <input type="file" id="image" name="image" /><br />
      <br />
      <div id="newSoundsContainer">
        <div class="marg">
          <input
            type="text"
            class="audioTitle"
            placeholder="TITLE"
            name="audioTitle[]"
          />———<input type="file" class="audioFile" name="audioFiles[]" />
        </div>
      </div>
      <button type="button" id="addAudio">Add another audio file</button><br />
      <input type="submit" value="Create" />
    </form>

    <script>
      document
        .getElementById("addAudio")
        .addEventListener("click", function () {
          let newSoundsContainer =
            document.getElementById("newSoundsContainer");
          let soundDiv = document.createElement("div");
          soundDiv.innerHTML =
            '<div class="marg"><input type="text" class="audioTitle" name="audioTitle[]" placeholder="TITLE"/>———<input type="file" class="audioFile" name="audioFiles[]" /></div>';
          newSoundsContainer.appendChild(soundDiv);
        });
    </script>
  </body>
</html>
