<!DOCTYPE html>
<html>
  <head>
    <title>Soundpages</title>
  </head>
  <body>
    <h1>Soundboards</h1>
    <% if (user) { %>
    <p>Welcome, <%= user.username %>! (Logged in with Google)</p>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/auth/google">Login with Google</a>
    <% } %>
    <br />
    <ul>
      <% soundboards.forEach(soundboard => { %>
      <li>
        <a href="/soundboards/<%= soundboard._id %>"><%= soundboard.title %></a>
      </li>
      <% }); %>
    </ul>
    <a href="/soundboards/create">Create New Soundboard</a>
  </body>
</html>
